runtime: custom
vm: true

env_variables:
  DOCUMENT_ROOT: /app/web
  MYSQL_DSN: mysql:host=IP_ADDRESS;port=3306;dbname=YOUR_DB_NAME
  MYSQL_USER: YOUR_MYSQL_USER
  MYSQL_PASSWORD: YOUR_MYSQL_PASSWORD
  GOOGLE_STORAGE_BUCKET: YOUR_STORAGE_BUCKET_NAME
