runtime: custom
vm: true

env_variables:
  DOCUMENT_ROOT: /app/web
  BOOKSHELF_DATA_BACKEND: cloudsql
  MYSQL_DSN: mysql:host=IP_ADDRESS;port=3306;dbname=YOUR_DB_NAME
  MYSQL_USER: YOUR_MYSQL_USER
  MYSQL_PASSWORD: YOUR_MYSQL_PASSWORD
  GOOGLE_STORAGE_BUCKET: YOUR_STORAGE_BUCKET_NAME
  MONGO_URL: YOUR_MONGODB_URL
  MONGO_NAMESPACE: YOUR_MONGO_NAMESPACE

